{% extends "layout.html" %}

{% block title %}
    Create Profile
{% endblock %}

{% block main %}
    <main>
        <form action="/create_profile" method="post">
            <div id="form">
                <input name="username" placeholder="Create Username" type="text"><br>
                <input name="password" placeholder="Password" type="password"><br>
                <input name="confirm" placeholder="Confirm Password" type="password"><br>
                <button name="submit" type="submit">Submit</button>
            </div>
    </main>
{% endblock %}