{% extends "layout.html" %}

{% block title %}
    Fake International Open
{% endblock %}

{% block main %}
    <main>
        <form action="/fake_io" method="post">
            <h2>Fake International Open</h2>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Age Divisions</th>
                    <th scope="col">Age Range</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">Adult</td>
                    <td>18-29</td>
                  </tr>
                  <tr>
                    <td scope="row">Master</td>
                    <td>30-39</td>
                  </tr>
                  <tr>
                    <td scope="row">Grandmaster</td>
                    <td>40-49</td>
                  </tr>
                  <tr>
                    <td scope="row">Graveyard</td>
                    <td>50+</td>
                  </tr>
                </tbody>
              </table>
              <br>

              <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Weight Class</th>
                            <th scope="col">Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scop="row">Lightweight</td>
                            <td>175 and under</td>
                        </tr>
                        <tr>
                            <td scope="row">Heavyweight</td>
                            <td>Over 175</td>
                        </tr>
                    </tbody>
              </table>
              <br>
              {% if session["user_id"] %}
                <button name="submit" type="submit" style="color: white;">Register</button>
                <button>
                  <a href="/fakeio_bracket">View Brackets</a>
                </button>
              {% else %}
                <p>Create profile to register for a tournament</p>
                <button>
                    <a href="/create_profile">Create Profile</a>
                </button>
                <button>
                  <a href="/fakeio_bracket">View Brackets</a>
                </button>
              {% endif %}
    </main>
{% endblock %}