{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <div id="profile">
        <form action="/profile" method="get">
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Rank</th>
                        <th scope="col">Weight</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td >{{ name }}</td>
                        <td >{{ age }}</td>
                        <td >{{ rank }}</td>
                        <td >{{ weight }}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <ul id="pofile_info">
                <button>
                    <a href="/athlete_info" style="border-style: none;">Update Profile</a>
                </button>
                <br>
                <button>
                    <a href="/tournaments" style="border-style: none;">Register for Tournaments</a>
                </button>
            </ul>
        </form>
    </div>
{% endblock %}