{% extends "layout.html" %}

{% block title %}
    Success
{% endblock %}

{% block main %}
    <br>
    <p class="column1">You have successfully registered for the Fake International Open!
        Instructions on where to find the teleportation portal that will take you to the
        tournament will be revealed to you... Keep an eye out.
    </p>
    <br>
    <div class="homepage_pics1">
        <img src="/static/portal.gif">
    </div>
    <button>
        <a href="/fakeio_bracket" style="border-style: none;">View Brackets</a>
    </button>
{% endblock %}
