body {
    text-align: center;
}
.item {
    text-align: center;
    display: inline-block;
    border-style: solid;
    width: 45%;
    height: 400px;
    margin-bottom: 5px;
}

.item-img {
    width: 90%;
    height: 70%;
}

a:link {
    text-decoration: none;
}